<div class="container m-5 text-center ">
  <h1>Ask the coach anything!</h1>
    <form action="/answer" data-turbo="false" method="get">
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
      <img src="" alt="">
    </form>
</div>
